.logo {
    color: $black;

    &--white {
        color: $white;
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__link {
        text-decoration: none;
        color: inherit;
    }

    &__image {
        width: 41px;
        height: 41px;
        margin-right: 8px;
        object-fit: contain;

        @include md {
            width: 28px;
            height: 28px;
            margin-right: 6px;
        }
    }

    &--footer &__image {
        @include md {
            width: 41px;
            height: 41px;
            margin-right: 8px;
        }
    }

    &__text {
        font-weight: 600;
        line-height: 136%;

        @include md {
            font-size: 10px;
        }
    }

    &--footer &__text {
        @include md {
            font-size: 16px;
        }
    }
}